{% extends 'base.html' %}

{% block pagecontent %}
<div class="compaigns-listing-page">
	<div class="row">
		<!-- Listing Page Header -->
		<div class="col-md-12" id="headerImage" style="margin-bottom: 20px;">
			<div class="image">
				<img src="{{MEDIA_URL}}images/bigImage.jpg" width="40%" style="margin-left: 30%;">
			</div>
			<div class="textdiv" style="margin-top: -5%; margin-left: 40%;">
				<h4>Browse FundRaisers</h4>
				<h5>causes you believe in all are here </h5>
			</div>
		</div><!-- Listing Page Header -->

		<!-- Listing Page Contents -->
		<div class="container-fluid" id="listing-contents">
			<div class="row">
				<!-- Categories Listing Column -->
				<div class="col-md-1"></div>
				<!-- Categories Listing Column -->
				<div class="col-md-2">
					<div class="card">
						<div class="card-title">Categories</div>
						<hr style="border:1px solid black;">
						<div class="card-text">
							<ul>
								<li>Category 1</li>
								<li>Category 2</li>
							</ul>
						</div>
					</div>
				</div><!-- Categories Listing Column -->

				<!-- Campaigns Listing Column -->
				<div class="col-md-8">
					
					<!-- Tranding Fundraisers -->
					<div class="container-fluid" id="trendingFunds" style="margin-let: -10px; margin-bottom: 20px;">

							<div class="card">
								<div class="card-text" style="margin-bottom: 40px;">
									
									<!-- Search Filters -->
									<div class="search-filters" style="margin-left: 30%;">
										<a href="" style="margin-left: 10px;">Filter1</a>
										<a href="" style="margin-left: 10px;">Filter2</a>
										<a href="" style="margin-left: 10px;">Filter3</a>
										<a href="" style="margin-left: 10px;">Filter1</a>
										<a href="" style="margin-left: 10px;">Filter2</a>
										<a href="" style="margin-left: 10px;">Filter3</a>
									</div><!-- Search Filters -->
									<hr style="border : 1px solid black;">
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-3" style="background-color: #d9f4f24d;">
											<a href="{% url 'campaign' %}">
												<div class="campaign-tile">
													<div class="campaign-tile-images">
														<img src="{{MEDIA_URL}}images/header.png" width="100%" style="border:0px solid black;">
														<img src="{{MEDIA_URL}}images/volunteer_header.gif" style="margin-top: 5px;" width="40%">
													</div>

													<!-- Campaign Titles -->
													<div class="campaign-tile-titles">
														<div class="campaign-name">
															<div class="title"><a href="{% url 'campaign' %}">Help me save my pet animal</a></div>
															<div class="user-details">
																<img src="{{MEDIA_URL}}images/donation.png" width="10%" style=""> by <a href="{% url 'profile' %}">Rajesh</a>
															</div>
														</div>
													</div><!-- Campaign Titles -->

													<!-- Campaign Description -->
													<div class="campaign-tile-shortdetail" style="font-size: .8em;">
														<p>Manya Kalra and Sana Kharbanda have taken a pledge to provide pure drinking water to slum-dwellers in and around Delhi and Gurgaon. People living in these slums are subject to various waterborne diseases, caused primarily by drinking untreated water. Typically, the only water these people have access to comes mixed with chemicals and other impurities. Lack of alternatives leaves them with no choice but to drink this water. This Diwali, let's make Elixir, the essence of life itself, accessible to everyone :) </p>
													</div><!-- Campaign Description -->
													
													<div class="campaign-money-raised">
														<p>Rs. 22,32,000</p>
														 <div class="progress" style="margin-top: -15px;">
														  <div class="progress-bar" role="progressbar" aria-valuenow="70"
														  aria-valuemin="0" aria-valuemax="100" style="width:70%">
														    <span class="sr-only">70% Complete</span>
														  </div>
														</div>
														<p>70%</p>
														<p class="text-right" style="margin-top: -40px;">46 Days to go</p> 
													</div>
												</div>
											</a>
										</div>
										
										<div class="col-md-3" style="margin-left: 10px; background-color: #d9f4f24d;">
											<a href="{% url 'campaign' %}">
												<div class="campaign-tile">
													<div class="campaign-tile-images">
														<img src="{{MEDIA_URL}}images/header.png" width="100%" style="border:0px solid black;">
														<img src="{{MEDIA_URL}}images/volunteer_header.gif" style="margin-top: 5px;" width="40%">
													</div>

													<!-- Campaign Titles -->
													<div class="campaign-tile-titles">
														<div class="campaign-name">
															<div class="title"><a href="{% url 'campaign' %}">Help me save my pet animal</a></div>
															<div class="user-details">
																<img src="{{MEDIA_URL}}images/donation.png" width="10%" style=""> by <a href="{% url 'profile' %}">Rajesh</a>
															</div>
														</div>
													</div><!-- Campaign Titles -->

													<!-- Campaign Description -->
													<div class="campaign-tile-shortdetail" style="font-size: .8em;">
														<p>Manya Kalra and Sana Kharbanda have taken a pledge to provide pure drinking water to slum-dwellers in and around Delhi and Gurgaon. People living in these slums are subject to various waterborne diseases, caused primarily by drinking untreated water. Typically, the only water these people have access to comes mixed with chemicals and other impurities. Lack of alternatives leaves them with no choice but to drink this water. This Diwali, let's make Elixir, the essence of life itself, accessible to everyone :) </p>
													</div><!-- Campaign Description -->
													
													<!-- Money Raised -->
													<div class="campaign-money-raised">
														<p>Rs. 22,32,000</p>
														 <div class="progress" style="margin-top: -15px;">
														  <div class="progress-bar" role="progressbar" aria-valuenow="70"
														  aria-valuemin="0" aria-valuemax="100" style="width:70%">
														    <span class="sr-only">70% Complete</span>
														  </div>
														</div>
														<p>70%</p>
														<p class="text-right" style="margin-top: -40px;">46 Days to go</p> 
													</div>
													<!-- Money Raised Ended -->
												</div>
											</a>
										</div>
										
										<div class="col-md-3" style="margin-left: 10px; background-color: #d9f4f24d;">
											<a href="{% url 'campaign' %}">
												<div class="campaign-tile">
													<!-- Campaign Images -->
													<div class="campaign-tile-images">
														<img src="{{MEDIA_URL}}images/header.png" width="100%" style="border:0px solid black;">
														<img src="{{MEDIA_URL}}images/volunteer_header.gif" style="margin-top: 5px;" width="40%">
													</div><!-- Campaign Images -->

													<!-- Campaign Titles -->
													<div class="campaign-tile-titles">
														<div class="campaign-name">
															<div class="title"><a href="{% url 'campaign' %}">Help me save my pet animal</a></div>
															<div class="user-details">
																<img src="{{MEDIA_URL}}images/donation.png" width="10%" style=""> by <a href="{% url 'profile' %}">Rajesh</a>
															</div>
														</div>
													</div><!-- Campaign Titles -->

													<!-- Campaign Description -->
													<div class="campaign-tile-shortdetail" style="font-size: .8em;">
														<p>Manya Kalra and Sana Kharbanda have taken a pledge to provide pure drinking water to slum-dwellers in and around Delhi and Gurgaon. People living in these slums are subject to various waterborne diseases, caused primarily by drinking untreated water. Typically, the only water these people have access to comes mixed with chemicals and other impurities. Lack of alternatives leaves them with no choice but to drink this water. This Diwali, let's make Elixir, the essence of life itself, accessible to everyone :) </p>
													</div><!-- Campaign Description -->

													<!-- Money Raised -->
													<div class="campaign-money-raised">
														<p>Rs. 22,32,000</p>
														 <div class="progress" style="margin-top: -15px;">
														  <div class="progress-bar" role="progressbar" aria-valuenow="70"
														  aria-valuemin="0" aria-valuemax="100" style="width:70%">
														    <span class="sr-only">70% Complete</span>
														  </div>
														</div>
														<p>70%</p>
														<p class="text-right" style="margin-top: -40px;">46 Days to go</p> 
													</div>
													<!-- Money Raised -->
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
					</div><!-- Tranding Fundraisers End -->
				</div><!-- Campaigns Listing Column -->
			</div><!-- Contents Row -->
		</div><!-- Listing Page Contents -->
	</div>
</div>
{% endblock %}